body{
	font-family: "Open Sans";
}

button
{
	clear: both;
	margin: auto;
	border: 1px solid white;
	border-radius: 2em;
	text-align: center;
	width: 60px;
}

button:hover{
	transition:0.5s;
	-webkit-transform:scale(1.04); /* Safari and Chrome */
    -moz-transform:scale(1.04); /* Firefox */
    -ms-transform:scale(1.04); /* IE 9 */
    -o-transform:scale(1.04); /* Opera */
	background-color: #87CEFA;
}

h2{
	margin-left: 20px;
}

label{
	font-size: 16px;
}

.candidates {
      font-size: 16px;
      background: #fff;
      margin: 45px;
      width: 480px;
      border-collapse: collapse;
      text-align: left;
    }

    .candidates th {
      font-size: 16px;
      font-weight: normal;
      color: #039;
      padding: 10px 8px;
      border-bottom: 2px solid #6678b1;
    }

    .candidates td {
      color: #669;
      padding: 9px 8px 0px 8px;
    }

    .candidates tbody tr:hover td {
      color: #009;
    }

#filter{
	margin-left: 30px;
}

#skill{
	margin-left: 15px;
	border-radius: 0.5em;
}

#addcandidate{
	padding: 10px;
	width: 32%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: outset;
	border-radius: 0.5em;

}
	

